*{
    margin: 10%;
    padding: 10%;
    box-sizing: border-box;
}
body{
    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;  
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
  

    
}

/* BUSCADOR VARINEA */
.searchClass {   
    font-size: 16%;
    font-weight: 500;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
    color: #8b8a8a;
      line-height: 1.3;
      padding: 1% 2% 1% 2%;
      width: 500%;
      max-width: 100%; 
      box-sizing: border-box;
      margin: 2% 2% 2% 2%;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
      border-radius: .3em;
      -webkit-appearance: none;
      background-color: #fff;
     
  }

 button{
    
    text-decoration: none;
    color:white;
    background:#ffba01;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 7px;
    border: none;
    height: 44px;
    width: 100%;
    text-align: center;
    align-items: center;
    }
 
 .contentImg{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    margin: 0 auto;
 }

h4{
    color: white;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#email{
    display:flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
   flex-flow: column nowrap;

}


.withch{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

 /*MEDIAS QUERYS*/

 @media (min-width: 320px) and (max-width: 767px) {
  
    .contentImg {
        padding-left: 0px;
       padding-right: 0px;
       margin-right: 0px;
       margin-left: 0px;
       width: 80%;
       margin: 0 auto;
    }
    .withch{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        width: 80%;
        margin: 0 auto;
    }
}