/* 
/* RESET */
h1, h2, h3, h4, h5, p{
    margin: 0 0 10px 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    text-align: center;
}
.box-flex{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 align-items: center;

}
.small-icon{
    width: 20px ;
  
} 

/* login */
.col-login{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 40%;
}

input, button{
    width: 100%;
}
.input-blanco{
    background-color: #fff;
    border-radius: 50px;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    min-height: 20px;
}
.btn-naranjo{
    background-color: #ff6600;
    border-radius: 50px;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    min-height: 20px; 
    color: #fff;
}
.recordar-pass{
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
ul.inicio-icons{
    display: flex;
    margin: 0;
    color: #fff;
    padding: 0;
    list-style: none;
}
ul.inicio-icons li{
    margin-right: 10px;
}

@media (max-width: 475px){
    .tarjeta{
        width: 80%;
    }
}
@media (max-width: 320px){
    .tarjeta{
        width: 100%;
    }
}
 */

 
